form.bootstrap-form-with-validation{
  width:80%;
  margin:auto;
}

div.form-group.has-success{
}

div.radio{
  float:left;
}

label.control-label{
  clear:both;
}

p.form-static-control{
  clear:both;
}

label.control-label{
  float:left;
}

button.btn.btn-primary{
  margin-top:20px;
}

/*  MARY MARY PLU */

@media (max-width: 700px) {
.responsive-table-line td:before { content: attr(data-title); }
.responsive-table-line table,
.responsive-table-line thead,
.responsive-table-line tbody,
.responsive-table-line th,
.responsive-table-line td,
.responsive-table-line tr {
display: block;
}

.responsive-table-line thead tr {
display:none;
}
.responsive-table-line td {

position: relative;
border: 0px solid transparent;
padding-left: 25% !important;
white-space: normal;
text-align:left;
}

.responsive-table-line td:before {
position: absolute;
top: 0px;
left: 0px;
width: 20%;
padding-right: 15px;
height:100%;
white-space: nowrap;
text-overflow: ellipsis !important;
overflow:hidden !important;
text-align:left;
background-color:#f8f8f8;
padding:2px;
}
}
.table th{
  width: 10%;
  text-align:center;
}
/*td[data-title]{
  color:red;
}
p.black{
  color:black;
}*/
ul {
  padding-left: 15px;
}
li{
  padding-left: 0;
}
button.btn.btn-warning.btn-lg{
  width: 100%;
}
